<!-- The main content area -->
<main id="main" role="main">

	<!-- ABOUT-MISSION -->
	<section class="pt-16 xl:pt-40">
		<div class="max-w-screen-2xl mx-auto px-4 lg:px-12 xl:px-20">
			<div class="text-center">
				<h1 class="text-center font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.about.intro.title') %></h1>
				<ul class="flex items-center justify-center mt-4">
					<li><a href="#our-principles" class="js-scrollto text-primary-base font-bold font-display hover:text-primary-900"><%- __('site.about.intro.link-1') %></a></li>
					<li><a href="#core-contributors" class="js-scrollto text-primary-base font-bold ml-20 font-display hover:text-primary-900"><%- __('site.about.intro.link-3') %></a></li>
				</ul>
				<p class="max-w-screen-lg lg:px-48 mx-auto text-gray-600 mt-12 2xl:mt-40 text-xl 2xl:text-4xl font-display font-normal leading-normal"><%- __('site.about.intro.description') %></p>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-MISSION -->

	<!-- ABOUT-GALLERY -->
	<section class="mt-20">
		<%- image_tag("/img/about-gallery.jpg") %>
	</section>
	<!-- END-ABOUT-GALLERY -->

	<!-- ABOUT-PRINCIPLES -->
	<section class="mt-64" id="our-principles">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12 xl:px-20">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.about.principles.title') %></h3>
			<p class="max-w-6xl text-gray-600 mt-8 text-lg 2xl:text-3xl font-display font-medium leading-normal"><%- __('site.about.principles.description') %></p>
			<ul class="grid sm:grid-cols-2 gap-24 xl:gap-48 list-roman mt-40 pl-20 xl:pl-12">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="I"><%- __('site.about.principles.principle-1.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-1.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="II"><%- __('site.about.principles.principle-2.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-2.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="III"><%- __('site.about.principles.principle-3.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-3.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="IV"><%- __('site.about.principles.principle-4.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-4.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="V"><%- __('site.about.principles.principle-5.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-5.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="VI"><%- __('site.about.principles.principle-6.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-6.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="VII"><%- __('site.about.principles.principle-7.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-7.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="VIII"><%- __('site.about.principles.principle-8.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-8.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="IX"><%- __('site.about.principles.principle-9.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-9.description') %></p>
				</li class="text-gray-200">
				<li class="text-gray-200 pl-4 xl:pl-12 text-2xl 2xl:text-5xl">
					<h4 class="mb-8 text-2xl xl:text-4xl font-display text-gray-900" data-roman="X"><%- __('site.about.principles.principle-10.title') %></h4>
					<p class="text-gray-900 text-lg 2xl:text-xl"><%- __('site.about.principles.principle-10.description') %></p>
				</li class="text-gray-200">
			</div>
		</div>
	</section>
	<!-- END-ABOUT-PRINCIPLES -->

	<!-- ABOUT-HOW-WE-WORK -->
	<section class="bg-blue-gray-light mt-64" id="how-we-work">
		<div class="max-w-screen-2xl mx-auto px-12 py-40 2xl:py-64 lg:px-12 xl:px-20">
			<h3 class="font-display text-4xl xl:text-6xl"><%- __('site.about.how-we-work.title') %></h3>
			<p class="text-gray-600 mt-8 text-lg 2xl:text-3xl font-display font-medium leading-normal"><%- __('site.about.how-we-work.description') %></p>
			<div class="mt-64">
				<h3 class="font-display text-4xl xl:text-6xl"><%- __('site.about.join-us.title') %></h3>
				<ul class="flex items-center mt-24">
					<li>
						<a href="https://join.status.im/status"><%- image_tag("img/status-token.svg", {style: 'width:50px'}) %></a>
					</li>
					<li class="ml-32">
						<a href="<%= config.discord_url %>"><%- image_tag("img/discord-logo.svg", {style: 'width:60px'}) %></a>
					</li>
					<li class="ml-32">
						<a href="https://github.com/status-im"><%- image_tag("img/github-black-logo.svg", {style: 'width:50px'}) %></a>
					</li>
				</ul>
			</div>
			<div class="">
				<a href="<%- show_lang() %>/our_team/open_positions.html" class="group inline-flex group items-center text-primary-base text-lg 2xl:text-2xl font-semibold font-special mt-24">
					<%- __('site.footer.status.open_positions') %>
					<span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right.svg') %></span>
				</a>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-CHAT -->

	<!-- ABOUT-QUARTERLY-REPORTS -->
	<section class="mt-64 max-w-screen-2xl mx-auto px-4 lg:px-20 mb-64" id="quarterly-reports">
		<h3 class="font-display text-4xl xl:text-6xl"><%- __('site.about.quarterly-reports.title') %></h3>
		<p class="text-gray-900 mt-12 text-xl xl:text-3xl font-display font-medium leading-normal"><%- __('site.about.quarterly-reports.description') %></p>
		<div class="grid md:grid-cols-3 gap-12">
			<div>
				<div class="accordion bg-primary-100 mt-12 p-6">
					<div>
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#quarterly-reports-2020" aria-expanded="false" aria-controls="#quarterly-reports-2020">
							2020
							<span class="ml-8 text-primary-800 custom-accordion-arrow"><%- image_tag('/img/icon-arrow-down.svg') %></span>
						</a>
						<div id="quarterly-reports-2020" class="mt-8 hidden text-gray-500 collapse accordion-content">
							<div class="description">
								<div class="mt-4">
									<a href="https://drive.google.com/uc?export=download&id=1PSKeuzesqv3ZahJqsT1q7cJNjant8eMG" download="Q1_2020" class="text-primary-base">- Q1 Quarterly Report</a>
								</div>
								<div class="mt-4">
									<a href="https://drive.google.com/uc?export=download&id=1JnICpK0tzAokNy47rABiZtdFE1VuE4vj" download="Q2_2020" class="text-primary-base">- Q2 Quarterly Report</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion bg-primary-100 mt-12 p-6">
					<div>
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#quarterly-reports-2019" aria-expanded="false" aria-controls="#quarterly-reports-2019">
							2019
							<span class="ml-8 text-primary-800 custom-accordion-arrow"><%- image_tag('/img/icon-arrow-down.svg') %></span>
						</a>
						<div id="quarterly-reports-2019" class="mt-8 hidden text-gray-500 collapse accordion-content">
							<div class="description">
								<div class="mt-4">
									<a href="https://drive.google.com/uc?export=download&id=1tXK_LD58CKY4UwTqqi446eeV0sTzvRtz" download="Q2_2019" class="text-primary-base">- Q2 Quarterly Report</a>
								</div>
								<div class="mt-4">
									<a href="https://drive.google.com/uc?export=download&id=17Z3sjsJ0LaI-2bcefPzD_IZttz5ap6KQ" download="Q3_2019" class="text-primary-base">- Q3 Quarterly Report</a>
								</div>
								<div class="mt-4">
									<a href="https://drive.google.com/uc?export=download&id=1KOGILq_-V1oh98GXn8b2_Q1SXEWpGAzC" download="Q4_2019" class="text-primary-base">- Q4 Quarterly Report</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-ABOUT-CHAT -->

	<!-- ABOUT-QUARTERLY-REPORTS -->
	<section class="mt-40 max-w-screen-2xl mx-auto px-4 lg:px-12 xl:px-20 mb-64" id="core-contributors">
			<h3 class="font-display text-4xl xl:text-6xl"><%- __('site.about.core-contributors.title') %></h3>
			<p class="text-gray-600 mt-8 text-lg 2xl:text-3xl font-display font-medium leading-normal"><%- __('site.about.core-contributors.description') %></p>
			<!-- <ul class="inline-links">
				<li><a href="<%- show_lang() %>/contribute/open_positions.html" class="link-arrow"><%- __('site.about.core-contributors.link-1') %></a></li>
				<li><a href="<%- show_lang() %>/contribute/life_status.html" class="link-arrow"><%- __('site.about.core-contributors.link-2') %></a></li>
			</ul> -->
			
			<ul class="mt-40 flex flex-wrap -ml-8">
				<%- employees() %>
			</ul>
	</section>
	<!-- END-ABOUT-CORE-CONTRIBUTORS -->

</main>
