<!-- The main content area -->

<main id="main" role="main">
	<section class="docs-intro p-t-160 p-b-160">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1><%- __('site.docs.stripe.title') %></h1>
					<p class="teaser-1"><%- __('site.docs.index.intro.teaser-1') %></p>
					<div class="open-source-illustration-horz"><%- image_tag("/img/developer_portal_artwork.svg") %></div>
				</div>
			</div>
		</div>
	</section>

	<section class="single-docs-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-xl-2">
          <%- partial('partial/sidebar') %>
        </div>
        <div class="col-md-9 col-xl-10">
        	<section class="docs-box-links">
	        	<div class="container large-tiles-wrapper docs-container">
							<div class="row">
								<div class="col-xl-4 box-link-wrapper">
									<div class="box-link">
										<a href="<%- show_lang() %>/technical/"><h3 class="title hover-white"><%- __('site.docs.index.box-link-1.title') %></h3></a>
										<p><%- __('site.docs.index.box-link-1.text') %></p>
										<a href="<%- show_lang() %>/technical/" class="link-arrow link-arrow-black hover-white"><%- __('site.docs.index.box-link-1.cta') %></a>
									</div>
								</div>
								<div class="col-xl-4 box-link-wrapper">
									<div class="box-link">
										<a href="<%- show_lang() %>/developer_tools/"><h3 class="title hover-white"><%- __('site.docs.index.box-link-2.title') %></h3></a>
										<p><%- __('site.docs.index.box-link-2.text') %></p>
										<a href="<%- show_lang() %>/developer_tools/" class="link-arrow link-arrow-black hover-white"><%- __('site.docs.index.box-link-2.cta') %></a>
									</div>
								</div>
								<div class="col-xl-4 box-link-wrapper">
									<div class="box-link">
										<a href="https://blog.embarklabs.io/categories/tutorials/"><h3 class="title hover-white"><%- __('site.docs.index.box-link-3.title') %></h3></a>
										<p><%- __('site.docs.index.box-link-3.text') %></p>
										<a href="https://blog.embarklabs.io/categories/tutorials/" class="link-arrow link-arrow-black hover-white"><%- __('site.docs.index.box-link-3.cta') %></a>
									</div>
								</div>
							</div>
						</div>
					</section>

					<div class="border-line">
						<div class="divide-circle"><%- image_tag("/img/circle.svg") %></div>
						<div id="black-line" stlye="float: left;"><%- image_tag("/img/line.svg", {style: 'width:100%'}) %></div>
					</div>
					
					<div class="container padding-responsive-build-with-status">
						<div class="row">
							<div class="col-md-12">
								<h4 class="section-title m-t-90"><%- __('site.docs.dev-tools.title') %></h4>
							</div>
							<div class="col-md-12">
								<div class="dev-tools">
									<div class="row">
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="products">
												<div class="inner-img">
													<a href="https://keycard.tech/docs/" target="_blank">
														<div class="bg"><%- image_tag("/img/bg-keycard.svg") %></div>
														<div class="inner">
															<div class="product-logo"><%- image_tag("/img/logo-home-keycard.svg") %></div>
															<span><%- __('site.docs.dev-tools.keycard.subtitle') %></span>
														</div>
													</a>
												</div>
												<div class="description"><%- __('site.docs.dev-tools.keycard.description') %></div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="products">
												<div class="inner-img">
													<a href="https://framework.embarklabs.io/docs/" target="_blank">
														<div class="bg"><%- image_tag("/img/bg-embark.png") %></div>
														<div class="inner">
															<div class="product-logo"><%- image_tag("/img/logo-home-embark.svg") %></div>
															<span><%- __('site.docs.dev-tools.embark.subtitle') %></span>
														</div>
													</a>
												</div>
												<div class="description"><%- __('site.docs.dev-tools.embark.description') %></div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="products">
												<div class="inner-img">
													<a href="https://nimbus.team/docs/" target="_blank">
														<div class="bg"><%- image_tag("/img/bg-nimbus.svg") %></div>
														<div class="inner">
															<div class="product-logo"><%- image_tag("/img/logo-home-nimbus.svg") %></div>
															<span><%- __('site.docs.dev-tools.nimbus.subtitle') %></span>
														</div>
													</a>
												</div>
												<div class="description"><%- __('site.docs.dev-tools.nimbus.description') %></div>
											</div>
										</div>
										<div class="col-lg-3 col-md-6 col-sm-6">
											<div class="products">
												<div class="inner-img">
													<a href="https://vac.dev/research-log/" target="_blank">
														<div class="bg"><%- image_tag("/img/bg-vac.svg") %></div>
														<div class="inner">
															<div class="product-logo"><%- image_tag("/img/logo-home-vac.svg") %></div>
															<span><%- __('site.docs.dev-tools.vac.subtitle') %></span>
														</div>
													</a>
												</div>
												<div class="description"><%- __('site.docs.dev-tools.vac.description') %></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="border-line">
						<div class="divide-circle"><%- image_tag("/img/circle.svg") %></div>
						<div id="black-line" stlye="float: left;"><%- image_tag("/img/line.svg", {style: 'width:100%'}) %></div>
					</div>

					<div class="container padding-responsive-pinned-repo">
						<div class="row">
							<div class="col-md-12">
								<h4 class="section-title m-t-90"><%- __('site.docs.pinned-repositories.title') %></h4>
							</div>
							<div class="col-md-12">
								<div class="pinned-repos">
									<div class="row">
										<div class="col-xl-4 col-md-6">
											<div class="inner repo-card">
												<a href="https://github.com/status-im/status-react" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.pinned-repositories.status-react.title') %></a>
												<div class="detail"><%- __('site.docs.pinned-repositories.status-react.description') %></div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6">
											<div class="inner repo-card">
												<a href="https://github.com/status-im/status-go" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.pinned-repositories.status-go.title') %></a>
												<div class="detail"><%- __('site.docs.pinned-repositories.status-go.description') %></div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6">
											<div class="inner repo-card">
												<a href="https://specs.status.im/" target="_blank"><%- image_tag("img/icon-github.svg") %> <%- __('site.docs.pinned-repositories.specs.title') %></a>
												<div class="detail"><%- __('site.docs.pinned-repositories.specs.description') %></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="border-line">
						<div class="divide-circle"><%- image_tag("/img/circle.svg") %></div>
						<div id="black-line" stlye="float: left; position: abso"><%- image_tag("/img/line.svg", {style: 'width:100%'}) %></div>
					</div>

					<div class="container padding-bottom-40">
						<div class="row">
							<div class="col-md-12">
								<h4 class="section-title m-t-90"><%- __('site.docs.support') %></h4>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</section>
</main>
