<!-- The main content area -->
<main id="main" role="main">

	<!-- EDUCATE-OPEN-SOURCE -->
	<section class="pt-16 xl:pt-64">
    <span class="absolute right-0 top-0 bg-cover bg-top-right hidden lg:block" style="background-image: url(/img/open-source-illustration.svg); width: 508px; height: 662px;"></span>
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<div class="grid grid-cols-12">
			  <div class="col-span-12 lg:col-span-7">
					<h4 class="text-4xl text-gray-500"><%- __('site.get-involved.educators.intro.subtitle') %></h4>
					<h1 class="js-community-nav-trigger cursor-pointer xl:cursor-auto mt-4 lg:mt-0 lg:bg-transparent lg:p-0 bg-gray-100 p-8 inline-flex items-center rounded leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl">
            <%- __('site.get-involved.educators.intro.title') %>
            <span class="ml-12 lg:hidden group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-down.svg') %></span>
          </h1>
					<p class="text-gray-600 mt-12 text-xl xl:text-4xl font-display font-normal leading-normal"><%- __('site.get-involved.educators.intro.description') %></p>
					<div class="block lg:hidden w-full mt-20 -ml-8 "><img src="/img/open-source-illustration-horz.svg" class="block w-full" /></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-OPEN-SOURCE -->

	<div class="relative mt-20 lg:mt-64 h-40">
	  <!-- DEVELOPMENT-QUICK-NAV -->
	  <section class="js-quick-nav w-full left-0 top-0 absolute z-10 hidden lg:block bg-black text-white">
			<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
  			<ul class="flex items-center text-2xl">
  				<li>
            <a href="<%- show_lang() %>/get-involved/educators/"  class="p-8 hover:bg-gray-600 flex items-center bg-gray-600">
              <%- image_tag("/img/educate-small-icon.svg") %>
              <span class="ml-6"><%- __('site.link.educators') %></span>
            </a>
          </li>
  				<li>
            <a href="<%- show_lang() %>/get-involved/community-groups/" class="p-8 hover:bg-gray-600 flex items-center">
              <%- image_tag("/img/community-groups-small-icon.svg") %>
              <span class="ml-6"><%- __('site.link.community-groups') %></span>
            </a>
          </li>
  			</ul>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV -->

		<!-- DEVELOPMENT-QUICK-NAV-SUB -->
		<section class="js-quick-nav-sub hidden lg:block bg-gray-600 py-6 text-white w-full" style="top: 60px;">
			<div class="max-w-screen-2xl mx-auto px-8 lg:px-12 flex w-full justify-between">
				<ul class="flex items-center -ml-4 font-light font-display text-lg">
					<li class="ml-12">
            <a href="#educate-and-create" class="text-gray-200 hover:text-white">
              <%- __('site.get-involved.educators.quick-nav-sub.link-1') %>
            </a>
          </li>
					<li class="ml-12">
            <a href="#translate" class="text-gray-200 hover:text-white">
              <%- __('site.get-involved.educators.quick-nav-sub.link-2') %>
            </a>
          </li>
					<li class="ml-12">
            <a href="#educator-resources" class="text-gray-200 hover:text-white">
              <%- __('site.get-involved.educators.quick-nav-sub.link-3') %>
            </a>
          </li>
				</ul>
        <a href="https://github.com/status-im" target="_blank" class="flex items-center">
          <%- image_tag("/img/github-white-logo.svg") %>
          <span class="ml-4"><%- __('site.get-involved.educators.quick-nav-sub.link-4') %></span>
        </a>
			</div>
		</section>
		<!-- END-DEVELOPMENT-QUICK-NAV-SUB -->
	</div>

	<!-- EDUCATE-CONTRIBUTE -->
	<section class="bg-blue-gray-light py-24 lg:py-64" id="educate-and-create">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<div class="grid md:grid-cols-2 gap-12 xl:gap-20">
				<div>
					<h2 class="font-display text-4xl xl:text-7xl"><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.title') %></h2>
					<ul>
						<li class="mt-8 md:mt-16">
              <a href="https://our.status.im/becoming-a-community-contributor/" target="_blank" class="inline-flex items-center text-primary-base font-special font-semibold">
                <%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-1') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="text-gray-700 mt-6"><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-1-description') %></p>
						</li>
						<li class="mt-8 md:mt-16">
              <a href="https://notes.status.im/s/HkbYNN8veN#TOC" class="inline-flex items-center text-primary-base font-special font-semibold">
                <%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-2') %>
                  <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="text-gray-700 mt-6"><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-2-description') %></p>
						</li>
						<li class="mt-8 md:mt-16">
              <a href="<%- show_lang() %>/our_team/faqs.html" class="inline-flex items-center text-primary-base font-special font-semibold">
                <%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-3') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="text-gray-700 mt-6"><%- __('site.get-involved.educators.educate-contribute.how-to-get-started.link-3-description') %></p>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="font-display text-4xl xl:text-7xl"><%- __('site.get-involved.educators.educate-contribute.create.title') %></h2>
					<ul>
						<li class="mt-8 md:mt-16">
              <a href="mailto:contribute@status.im" class="text-primary-base font-special font-semibold inline-flex items-center">
                <%- __('site.get-involved.educators.educate-contribute.create.link-1') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="text-gray-700 mt-6"><%- __('site.get-involved.educators.educate-contribute.create.link-1-description') %></p>
						</li>
						<li class="mt-8 md:mt-16">
              <a href="mailto:contribute@status.im" class="text-primary-base font-special font-semibold inline-flex items-center">
                <%- __('site.get-involved.educators.educate-contribute.create.link-2') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="text-gray-700 mt-6"><%- __('site.get-involved.educators.educate-contribute.create.link-2-description') %></p>
						</li>
						<li class="mt-8 md:mt-16">
              <a href="mailto:contribute@status.im" class="text-primary-base font-special font-semibold inline-flex items-center">
                <%- __('site.get-involved.educators.educate-contribute.create.link-3') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="text-gray-700 mt-6"><%- __('site.get-involved.educators.educate-contribute.create.link-3-description') %></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-CONTRIBUTE -->

	<!-- EDUCATE-TRANSLATE -->
	<section class="mt-20 lg:mt-64" id="translate">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<div class="grid md:grid-cols-2 gap-12">
				<div class="hidden md:block">
					<%- image_tag("/img/translate.svg") %>
				</div>
				<div>
					<h2 class="font-display text-4xl xl:text-7xl"><%- __('site.get-involved.educators.translate.title') %></h2>
					<p class="text-xl md:text-3xl mt-12 text-gray-500"><%- __('site.get-involved.educators.translate.description') %></p>
					<ul class="mt-12">
						<li class="mt-8">
              <a href="https://translate.status.im/" target="_blank" class="inline-flex items-center text-primary-base font-special font-semibold">
                <%- __('site.get-involved.educators.translate.link') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
            </li>
						<li class="mt-8">
              <a href="https://github.com/status-im/translate.status.im#contributors" target="_blank" class="inline-flex items-center text-primary-base font-special font-semibold">
                <%- __('site.get-involved.educators.translate.link-2') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
            </li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-TRANSLATE -->

	<!-- EDUCATOR-RESOURCES -->
	<section class="bg-gray-900 py-20 lg:py-64 text-white mt-20 lg:mt-64" id="educator-resources">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
		  <h2 class="font-display text-4xl xl:text-7xl"><%- __('site.get-involved.educators.educator-resources.title') %></h2>
			<div class="grid md:grid-cols-2 mt-8 gap-12">
				<div>
					<ul>
						<li class="mt-12">
              <a href="https://github.com/status-im/design-guides" target="_blank" class="inline-flex items-center font-special font-semibold">
                <%- __('site.get-involved.educators.educator-resources.link-1') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="mt-4"><%- __('site.get-involved.educators.educator-resources.link-1-description') %></p>
						</li>
						<li class="mt-12">
              <a href="https://discuss.status.im/" target="_blank" class="inline-flex items-center font-special font-semibold">
                <%- __('site.get-involved.educators.educator-resources.link-2') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="mt-4"><%- __('site.get-involved.educators.educator-resources.link-2-description') %></p>
						</li>
						<!--<li class="mt-12">
							<a href="<%- show_lang() %>/tutorials/" class="font-special font-semibold"><%- __('site.get-involved.educators.educator-resources.link-3') %></a>
							<p class="mt-4"><%- __('site.get-involved.educators.educator-resources.link-3-description') %></p>
						</li>-->
					</ul>
				</div>
				<div>
					<ul>
						<li class="mt-12">
              <a href="https://our.status.im/" class="font-special font-semibold inline-flex items-center">
                <%- __('site.get-involved.educators.educator-resources.link-4') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="mt-4"><%- __('site.get-involved.educators.educator-resources.link-4-description') %></p>
						</li>
						<li class="mt-12">
							<a href="<%- show_lang() %>/nightly/" class="font-special font-semibold inline-flex items-center">
                <%- __('site.get-involved.educators.educator-resources.link-5') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
							<p class="mt-4"><%- __('site.get-involved.educators.educator-resources.link-5-description') %></p>
						</li>
          </ul>
          <ul class="mt-20">
            <li class="mt-12">
              <a href="https://our.status.im/tag/news-and-announcements/" target="_blank" class="font-special font-semibold inline-flex items-center">
                <%- __('site.get-involved.educators.educator-resources.link-6') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
						</li>
						<li class="mt-12">
              <a href="https://people-ops.status.im/status-channels/" target="_blank" class="font-special font-semibold inline-flex items-center">
                <%- __('site.get-involved.educators.educator-resources.link-8') %>
                <span class="ml-4"><%- image_tag('/img/icon-arrow-right.svg') %></span>
              </a>
						</li>
          </ul>
				</div>
			</div>
		</div>
	</section>
	<!-- EDUCATOR-RESOURCES -->

	<!-- EDUCATE-GET-IN-TOUCH -->
	<section class="py-20 lg:py-64">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-7xl"><%- __('site.get-involved.developers.get-in-touch.title') %></h3>
			<div class="grid md:grid-cols-2 lg:grid-cols-4 mt-12 gap-12">
				<div>
          <a href="https://join.status.im/chat/public/status" target="_blank" class="font-special font-semibold text-primary-base hover:text-primary-900 flex items-center">
            <%- image_tag("/img/status-purple-logo.svg") %>
            <span class="ml-4"><%- __('site.get-involved.developers.get-in-touch.join-status.link') %></span>
          </a>
					<p class="mt-4 text-gray-700"><%- __('site.get-involved.developers.get-in-touch.join-status.description') %></p>
				</div>
				<div>
          <a href="https://join.status.im/chat/public/statusphere" target="_blank" class="font-special font-semibold text-primary-base hover:text-primary-900 flex items-center">
            <%- image_tag("/img/status-purple-logo.svg") %>
            <span class="ml-4"><%- __('site.get-involved.educators.get-in-touch.join-statusphere.link') %></span>
          </a>
					<p class="mt-4 text-gray-700"><%- __('site.get-involved.educators.get-in-touch.join-statusphere.description') %></p>
				</div>
				<div>
          <a href="https://join.status.im/chat/public/introductions" target="_blank" class="font-special font-semibold text-primary-base hover:text-primary-900 flex items-center">
            <%- image_tag("/img/status-purple-logo.svg") %>
            <span class="ml-4"><%- __('site.get-involved.developers.get-in-touch.join-introductions.link') %></span>
          </a>
					<p class="mt-4 text-gray-700"><%- __('site.get-involved.developers.get-in-touch.join-introductions.description') %></p>
				</div>
				<div>
					<a href="mailto:contribute@status.im" class="font-special font-semibold text-primary-base hover:text-primary-900 flex items-center">
            <%- __('site.get-involved.developers.get-in-touch.contact-us.link') %>
          </a>
					<p class="mt-4 text-gray-700"><%- __('site.get-involved.developers.get-in-touch.contact-us.description') %></p>
				</div>
			</div>
		</div>
	</section>
	<!-- END-EDUCATE-GET-IN-TOUCH -->


  <div class="fixed xl:hidden xl:p-0 z-40 xl:ml-0 w-full top-0 left-0 transform mt-8 scale-95 p-8 pointer-events-none opacity-0 xl:visible xl:opacity-100 xl:pointer-events-auto xl:static xl:transform-none invisible js-community-nav transition-all duration-200 linear">
    <div class="bg-white rounded shadow-lg p-8 xl:p-0 overflow-auto xl:bg-transparent xl:shadow-none mt-32 relative">
  		<a href="#" class="js-community-nav-trigger-close absolute top-0 right-0 p-8">
  			<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"></rect> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"></rect> </svg>
  		</a>
  		<nav>
  			<ul>
  				<li class="hover:text-primary-base py-4 xl:px-12 xl:py-16"><a href="<%- show_lang() %>/get-involved/developers/"><%- __('site.link.developers') %></a></li>
  				<li class="hover:text-primary-base py-4 border-t border-gray-100 xl:border-t-0 xl:px-12 xl:py-16 text-primary-base"><a href="<%- show_lang() %>/get-involved/educators/"><%- __('site.link.educators') %></a></li>
  				<li class="hover:text-primary-base pt-4 border-t border-gray-100 xl:border-t-0 xl:px-12 xl:py-16"><a href="<%- show_lang() %>/get-involved/community-groups/"><%- __('site.link.community-groups') %></a></li>
  			</ul>
      </nav>
    </div>
  </div>
	<div class="js-backdrop-community-nav bg-black bg-opacity-25 h-screen fixed w-screen top-0 left-0 z-10 pointer-events-none invisible opacity-0 transition-all duration-200 linear"></div>

</main>
