<!-- The main content area -->
<main id="main" role="main">

    <section class="pt-16 xl:pt-64">
        <div class="max-w-screen-2xl mx-auto px-8 lg:px-12 text-center">
        <h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.faq.title') %></h1>
        <p class="text-gray-600 mt-12 text-xl xl:text-3xl font-display font-normal leading-normal custom-article"><%- __('site.faq.description') %></p>
        </div>
    </section>

    <section class="mt-20 lg:mt-64" id="general">
        <div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
            <% for (let category of site.data.faq) { %>
            <h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __(category.title) %></h3>
            <div class="grid md:grid-cols-2 gap-12">
                <% for (let column of category.columns) { %>
                <div>
                    <% for (let entry of column) { %>
                    <div class="accordion bg-primary-100 mt-12 p-6">
                        <a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#<%= entry.question.replace(/\./g, '-') %>" aria-expanded="false" aria-controls="<%= entry.question.replace(/\./g, '-') %>">
                            <%- __(entry.question) %>
                            <span class="ml-8 text-primary-800 custom-accordion-arrow">
                                <%- image_tag('/img/icon-arrow-down.svg') %>
                            </span>
                        </a>
                        <div id="<%= entry.question.replace(/\./g, '-') %>" class="mt-8 hidden text-gray-500 collapse accordion-content">
                            <div class="description"><%- __(entry.answer) %></div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
    </section>

</main>
