<!-- The main content area -->
<main id="main" role="main">

	<section class="pt-16 xl:pt-64">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12 text-center">
  		<h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.faq.title') %></h1>
  		<p class="text-gray-600 mt-12 text-xl xl:text-3xl font-display font-normal leading-normal custom-article"><%- __('site.faq.description') %></p>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="general">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.general.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q1" aria-expanded="false" aria-controls="general-q1">
              <%- __('site.faq.general.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q1" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q3" aria-expanded="false" aria-controls="general-q4">
              <%- __('site.faq.general.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q3" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q3.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q5" aria-expanded="false" aria-controls="general-q5">
              <%- __('site.faq.general.q5.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q5" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q5.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q7" aria-expanded="false" aria-controls="general-q7">
              <%- __('site.faq.general.q7.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q7" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q7.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q9" aria-expanded="false" aria-controls="general-q9">
              <%- __('site.faq.general.q9.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q9" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q9.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q11" aria-expanded="false" aria-controls="general-q11">
              <%- __('site.faq.general.q11.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q11" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q11.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q13" aria-expanded="false" aria-controls="general-q13">
              <%- __('site.faq.general.q13.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q13" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q13.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q15" aria-expanded="false" aria-controls="general-q15">
              <%- __('site.faq.general.q15.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q15" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q15.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q2" aria-expanded="false" aria-controls="general-q2">
              <%- __('site.faq.general.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q2" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q4" aria-expanded="false" aria-controls="general-q3">
              <%- __('site.faq.general.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q4" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q4.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q6" aria-expanded="false" aria-controls="general-q6">
              <%- __('site.faq.general.q6.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q6" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q6.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q8" aria-expanded="false" aria-controls="general-q8">
              <%- __('site.faq.general.q8.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q8" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q8.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q10" aria-expanded="false" aria-controls="general-q10">
              <%- __('site.faq.general.q10.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q10" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q10.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q12" aria-expanded="false" aria-controls="general-q12">
              <%- __('site.faq.general.q12.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q12" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q12.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q14" aria-expanded="false" aria-controls="general-q14">
              <%- __('site.faq.general.q14.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q14" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q14.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#general-q16" aria-expanded="false" aria-controls="general-q16">
              <%- __('site.faq.general.q16.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="general-q16" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.general.q16.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="keys-and-accounts">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.keys-and-accounts.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keys-and-accounts-q1" aria-expanded="false" aria-controls="keys-and-accounts-q1">
              <%- __('site.faq.keys-and-accounts.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keys-and-accounts-q1" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keys-and-accounts.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keys-and-accounts-q3" aria-expanded="false" aria-controls="keys-and-accounts-q4">
              <%- __('site.faq.general.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keys-and-accounts-q3" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keys-and-accounts.q3.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keys-and-accounts-q2" aria-expanded="false" aria-controls="keys-and-accounts-q2">
              <%- __('site.faq.keys-and-accounts.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keys-and-accounts-q2" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.general.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keys-and-accounts-q4" aria-expanded="false" aria-controls="keys-and-accounts-q3">
              <%- __('site.faq.keys-and-accounts.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keys-and-accounts-q4" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keys-and-accounts.q4.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="profile-and-settings">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.profile-and-settings.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q1" aria-expanded="false" aria-controls="profile-and-settings-q1">
              <%- __('site.faq.profile-and-settings.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q1" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q3" aria-expanded="false" aria-controls="profile-and-settings-q4">
              <%- __('site.faq.profile-and-settings.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q3" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q3.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q5" aria-expanded="false" aria-controls="profile-and-settings-q5">
              <%- __('site.faq.profile-and-settings.q5.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q5" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q5.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q7" aria-expanded="false" aria-controls="profile-and-settings-q7">
              <%- __('site.faq.profile-and-settings.q7.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q7" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q7.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q9" aria-expanded="false" aria-controls="profile-and-settings-q9">
              <%- __('site.faq.profile-and-settings.q9.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q9" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q9.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q2" aria-expanded="false" aria-controls="profile-and-settings-q2">
              <%- __('site.faq.profile-and-settings.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q2" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q4" aria-expanded="false" aria-controls="profile-and-settings-q3">
              <%- __('site.faq.profile-and-settings.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q4" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q4.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q6" aria-expanded="false" aria-controls="profile-and-settings-q6">
              <%- __('site.faq.profile-and-settings.q6.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q6" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q6.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q8" aria-expanded="false" aria-controls="profile-and-settings-q8">
              <%- __('site.faq.profile-and-settings.q8.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q8" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q8.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#profile-and-settings-q10" aria-expanded="false" aria-controls="profile-and-settings-q10">
              <%- __('site.faq.profile-and-settings.q10.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="profile-and-setting-q10" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.profile-and-settings.q10.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="messenger">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.messenger.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q1" aria-expanded="false" aria-controls="messenger-q1">
              <%- __('site.faq.messenger.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q1" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q3" aria-expanded="false" aria-controls="messenger-q4">
              <%- __('site.faq.messenger.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q3" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q3.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q5" aria-expanded="false" aria-controls="messenger-q5">
              <%- __('site.faq.messenger.q5.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q5" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q5.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q7" aria-expanded="false" aria-controls="messenger-q7">
              <%- __('site.faq.messenger.q7.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q7" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q7.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q9" aria-expanded="false" aria-controls="messenger-q9">
              <%- __('site.faq.messenger.q9.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q9" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q9.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q2" aria-expanded="false" aria-controls="messenger-q2">
              <%- __('site.faq.messenger.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q2" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q4" aria-expanded="false" aria-controls="messenger-q3">
              <%- __('site.faq.messenger.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q4" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q4.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q6" aria-expanded="false" aria-controls="messenger-q6">
              <%- __('site.faq.messenger.q6.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q6" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q6.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#messenger-q8" aria-expanded="false" aria-controls="messenger-q8">
              <%- __('site.faq.messenger.q8.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="messenger-q8" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.messenger.q8.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="browser">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.browser.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#browser-q1" aria-expanded="false" aria-controls="browser-q1">
              <%- __('site.faq.browser.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="browser-q1" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.browser.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#browser-q3" aria-expanded="false" aria-controls="browser-q4">
              <%- __('site.faq.browser.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="browser-q3" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.browser.q3.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#browser-q2" aria-expanded="false" aria-controls="browser-q2">
              <%- __('site.faq.browser.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="browser-q2" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.browser.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#browser-q4" aria-expanded="false" aria-controls="browser-q3">
              <%- __('site.faq.browser.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="browser-q4" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.browser.q4.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="wallet">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.wallet.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q1" aria-expanded="false" aria-controls="wallet-q1">
              <%- __('site.faq.wallet.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q1" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q3" aria-expanded="false" aria-controls="wallet-q4">
              <%- __('site.faq.wallet.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q3" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q3.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q5" aria-expanded="false" aria-controls="wallet-q5">
              <%- __('site.faq.wallet.q5.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q5" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q5.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q7" aria-expanded="false" aria-controls="wallet-q7">
              <%- __('site.faq.wallet.q7.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q7" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q7.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q9" aria-expanded="false" aria-controls="wallet-q9">
              <%- __('site.faq.wallet.q9.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q9" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q9.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q2" aria-expanded="false" aria-controls="wallet-q2">
              <%- __('site.faq.wallet.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q2" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q4" aria-expanded="false" aria-controls="wallet-q3">
              <%- __('site.faq.wallet.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q4" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q4.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q6" aria-expanded="false" aria-controls="wallet-q6">
              <%- __('site.faq.wallet.q6.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q6" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q6.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#wallet-q8" aria-expanded="false" aria-controls="wallet-q8">
              <%- __('site.faq.wallet.q8.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="wallet-q8" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.wallet.q8.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="keycard">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.keycard-general.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-general-q1" aria-expanded="false" aria-controls="keycard-general-q1">
              <%- __('site.faq.keycard-general.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-general-q1" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keycard-general.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-general-q3" aria-expanded="false" aria-controls="keycard-general-q4">
              <%- __('site.faq.keycard-general.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-general-q3" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keycard-general.q3.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-general-q5" aria-expanded="false" aria-controls="keycard-general-q5">
              <%- __('site.faq.keycard-general.q5.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-general-q5" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keycard-general.q5.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-general-q7" aria-expanded="false" aria-controls="keycard-general-q7">
              <%- __('site.faq.keycard-general.q7.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-general-q7" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keycard-general.q7.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-general-q2" aria-expanded="false" aria-controls="keycard-general-q2">
              <%- __('site.faq.keycard-general.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-general-q2" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keycard-general.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-general-q4" aria-expanded="false" aria-controls="keycard-general-q3">
              <%- __('site.faq.keycard-general.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-general-q4" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keycard-general.q4.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-general-q6" aria-expanded="false" aria-controls="keycard-general-q6">
              <%- __('site.faq.keycard-general.q6.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-general-q6" class="text-gray-500 mt-8 hidden collapse"><div class="description"><%- __('site.faq.keycard-general.q6.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="keycard-security">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.keycard-security.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-security-q1" aria-expanded="false" aria-controls="keycard-security-q1">
              <%- __('site.faq.keycard-security.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-security-q1" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.keycard-security.q1.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-security-q2" aria-expanded="false" aria-controls="keycard-security-q2">
              <%- __('site.faq.keycard-security.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-security-q2" class="mt-8 hidden text-gray-500 collapse accordion-content"><div class="description"><%- __('site.faq.keycard-security.q2.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64" id="keycard-setup">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.keycard-setup.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-setup-q1" aria-expanded="false" aria-controls="keycard-setup-q1">
              <%- __('site.faq.keycard-setup.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-setup-q1" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-setup.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-setup-q3" aria-expanded="false" aria-controls="keycard-setup-q4">
              <%- __('site.faq.keycard-setup.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-setup-q3" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-setup.q3.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-setup-q5" aria-expanded="false" aria-controls="keycard-setup-q5">
              <%- __('site.faq.keycard-setup.q5.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-setup-q5" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-setup.q5.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-setup-q2" aria-expanded="false" aria-controls="keycard-setup-q2">
              <%- __('site.faq.keycard-setup.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-setup-q2" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-setup.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-setup-q4" aria-expanded="false" aria-controls="keycard-setup-q3">
              <%- __('site.faq.keycard-setup.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-setup-q4" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-setup.q4.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64 pb-20 lg:pb-64" id="keycard-other">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center"><%- __('site.faq.keycard-other.title') %></h3>
			<div class="grid md:grid-cols-2 gap-12">
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-other-q1" aria-expanded="false" aria-controls="keycard-other-q1">
              <%- __('site.faq.keycard-other.q1.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-other-q1" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-other.q1.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-other-q3" aria-expanded="false" aria-controls="keycard-other-q4">
              <%- __('site.faq.keycard-other.q3.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-other-q3" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-other.q3.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-other-q5" aria-expanded="false" aria-controls="keycard-other-q5">
              <%- __('site.faq.keycard-other.q5.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-other-q5" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-other.q5.answer') %></div></div>
					</div>
				</div>
				<div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-other-q2" aria-expanded="false" aria-controls="keycard-other-q2">
              <%- __('site.faq.keycard-other.q2.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-other-q2" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-other.q2.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-other-q4" aria-expanded="false" aria-controls="keycard-other-q3">
              <%- __('site.faq.keycard-other.q4.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-other-q4" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-other.q4.answer') %></div></div>
					</div>
					<div class="accordion bg-primary-100 mt-12 p-6">
						<a href="#" class="text-2xl collapsed flex items-center justify-between custom-accordion-trigger" data-toggle="collapse" data-target="#keycard-other-g6" aria-expanded="false" aria-controls="keycard-other-g6">
              <%- __('site.faq.keycard-other.g6.question') %>
              <span class="ml-8 text-primary-800 custom-accordion-arrow"><%- partial('partial/icons/icon-arrow-down', {width: 'w-8', height: 'h-8'}) %></span>
            </a>
						<div id="keycard-other-g6" class="collapse text-gray-500 mt-8 hidden"><div class="description"><%- __('site.faq.keycard-other.g6.answer') %></div></div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>