<!-- The main content area -->
<main id="main" role="main">

	<section class="p-t-160">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1><%- __('site.faq.title') %></h1>
					<p class="teaser-2"><%- __('site.faq.description') %></p>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="general">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.general.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q1" aria-expanded="false" aria-controls="general-q1"><%- __('site.faq.general.q1.question') %></a>
								<div id="general-q1" class="collapse"><div class="description"><%- __('site.faq.general.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q3" aria-expanded="false" aria-controls="general-q4"><%- __('site.faq.general.q3.question') %></a>
								<div id="general-q3" class="collapse"><div class="description"><%- __('site.faq.general.q3.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q5" aria-expanded="false" aria-controls="general-q5"><%- __('site.faq.general.q5.question') %></a>
								<div id="general-q5" class="collapse"><div class="description"><%- __('site.faq.general.q5.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q7" aria-expanded="false" aria-controls="general-q7"><%- __('site.faq.general.q7.question') %></a>
								<div id="general-q7" class="collapse"><div class="description"><%- __('site.faq.general.q7.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q9" aria-expanded="false" aria-controls="general-q9"><%- __('site.faq.general.q9.question') %></a>
								<div id="general-q9" class="collapse"><div class="description"><%- __('site.faq.general.q9.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q11" aria-expanded="false" aria-controls="general-q11"><%- __('site.faq.general.q11.question') %></a>
								<div id="general-q11" class="collapse"><div class="description"><%- __('site.faq.general.q11.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q13" aria-expanded="false" aria-controls="general-q13"><%- __('site.faq.general.q13.question') %></a>
								<div id="general-q13" class="collapse"><div class="description"><%- __('site.faq.general.q13.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q15" aria-expanded="false" aria-controls="general-q15"><%- __('site.faq.general.q15.question') %></a>
								<div id="general-q15" class="collapse"><div class="description"><%- __('site.faq.general.q15.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q2" aria-expanded="false" aria-controls="general-q2"><%- __('site.faq.general.q2.question') %></a>
								<div id="general-q2" class="collapse"><div class="description"><%- __('site.faq.general.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q4" aria-expanded="false" aria-controls="general-q3"><%- __('site.faq.general.q4.question') %></a>
								<div id="general-q4" class="collapse"><div class="description"><%- __('site.faq.general.q4.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q6" aria-expanded="false" aria-controls="general-q6"><%- __('site.faq.general.q6.question') %></a>
								<div id="general-q6" class="collapse"><div class="description"><%- __('site.faq.general.q6.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q8" aria-expanded="false" aria-controls="general-q8"><%- __('site.faq.general.q8.question') %></a>
								<div id="general-q8" class="collapse"><div class="description"><%- __('site.faq.general.q8.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q10" aria-expanded="false" aria-controls="general-q10"><%- __('site.faq.general.q10.question') %></a>
								<div id="general-q10" class="collapse"><div class="description"><%- __('site.faq.general.q10.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q12" aria-expanded="false" aria-controls="general-q12"><%- __('site.faq.general.q12.question') %></a>
								<div id="general-q12" class="collapse"><div class="description"><%- __('site.faq.general.q12.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q14" aria-expanded="false" aria-controls="general-q14"><%- __('site.faq.general.q14.question') %></a>
								<div id="general-q14" class="collapse"><div class="description"><%- __('site.faq.general.q14.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#general-q16" aria-expanded="false" aria-controls="general-q16"><%- __('site.faq.general.q16.question') %></a>
								<div id="general-q16" class="collapse"><div class="description"><%- __('site.faq.general.q16.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="keys-and-accounts">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.keys-and-accounts.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keys-and-accounts-q1" aria-expanded="false" aria-controls="keys-and-accounts-q1"><%- __('site.faq.keys-and-accounts.q1.question') %></a>
								<div id="keys-and-accounts-q1" class="collapse"><div class="description"><%- __('site.faq.keys-and-accounts.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keys-and-accounts-q3" aria-expanded="false" aria-controls="keys-and-accounts-q4"><%- __('site.faq.general.q3.question') %></a>
								<div id="keys-and-accounts-q3" class="collapse"><div class="description"><%- __('site.faq.keys-and-accounts.q3.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keys-and-accounts-q2" aria-expanded="false" aria-controls="keys-and-accounts-q2"><%- __('site.faq.keys-and-accounts.q2.question') %></a>
								<div id="keys-and-accounts-q2" class="collapse"><div class="description"><%- __('site.faq.general.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keys-and-accounts-q4" aria-expanded="false" aria-controls="keys-and-accounts-q3"><%- __('site.faq.keys-and-accounts.q4.question') %></a>
								<div id="keys-and-accounts-q4" class="collapse"><div class="description"><%- __('site.faq.keys-and-accounts.q4.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="profile-and-settings">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.profile-and-settings.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q1" aria-expanded="false" aria-controls="profile-and-settings-q1"><%- __('site.faq.profile-and-settings.q1.question') %></a>
								<div id="profile-and-settings-q1" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q3" aria-expanded="false" aria-controls="profile-and-settings-q4"><%- __('site.faq.profile-and-settings.q3.question') %></a>
								<div id="profile-and-settings-q3" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q3.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q5" aria-expanded="false" aria-controls="profile-and-settings-q5"><%- __('site.faq.profile-and-settings.q5.question') %></a>
								<div id="profile-and-settings-q5" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q5.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q7" aria-expanded="false" aria-controls="profile-and-settings-q7"><%- __('site.faq.profile-and-settings.q7.question') %></a>
								<div id="profile-and-settings-q7" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q7.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q9" aria-expanded="false" aria-controls="profile-and-settings-q9"><%- __('site.faq.profile-and-settings.q9.question') %></a>
								<div id="profile-and-settings-q9" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q9.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q2" aria-expanded="false" aria-controls="profile-and-settings-q2"><%- __('site.faq.profile-and-settings.q2.question') %></a>
								<div id="profile-and-settings-q2" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q4" aria-expanded="false" aria-controls="profile-and-settings-q3"><%- __('site.faq.profile-and-settings.q4.question') %></a>
								<div id="profile-and-settings-q4" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q4.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q6" aria-expanded="false" aria-controls="profile-and-settings-q6"><%- __('site.faq.profile-and-settings.q6.question') %></a>
								<div id="profile-and-settings-q6" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q6.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q8" aria-expanded="false" aria-controls="profile-and-settings-q8"><%- __('site.faq.profile-and-settings.q8.question') %></a>
								<div id="profile-and-settings-q8" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q8.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#profile-and-settings-q10" aria-expanded="false" aria-controls="profile-and-settings-q10"><%- __('site.faq.profile-and-settings.q10.question') %></a>
								<div id="profile-and-settings-q10" class="collapse"><div class="description"><%- __('site.faq.profile-and-settings.q10.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="messenger">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.messenger.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q1" aria-expanded="false" aria-controls="messenger-q1"><%- __('site.faq.messenger.q1.question') %></a>
								<div id="messenger-q1" class="collapse"><div class="description"><%- __('site.faq.messenger.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q3" aria-expanded="false" aria-controls="messenger-q4"><%- __('site.faq.messenger.q3.question') %></a>
								<div id="messenger-q3" class="collapse"><div class="description"><%- __('site.faq.messenger.q3.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q5" aria-expanded="false" aria-controls="messenger-q5"><%- __('site.faq.messenger.q5.question') %></a>
								<div id="messenger-q5" class="collapse"><div class="description"><%- __('site.faq.messenger.q5.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q7" aria-expanded="false" aria-controls="messenger-q7"><%- __('site.faq.messenger.q7.question') %></a>
								<div id="messenger-q7" class="collapse"><div class="description"><%- __('site.faq.messenger.q7.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q9" aria-expanded="false" aria-controls="messenger-q9"><%- __('site.faq.messenger.q9.question') %></a>
								<div id="messenger-q9" class="collapse"><div class="description"><%- __('site.faq.messenger.q9.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q2" aria-expanded="false" aria-controls="messenger-q2"><%- __('site.faq.messenger.q2.question') %></a>
								<div id="messenger-q2" class="collapse"><div class="description"><%- __('site.faq.messenger.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q4" aria-expanded="false" aria-controls="messenger-q3"><%- __('site.faq.messenger.q4.question') %></a>
								<div id="messenger-q4" class="collapse"><div class="description"><%- __('site.faq.messenger.q4.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q6" aria-expanded="false" aria-controls="messenger-q6"><%- __('site.faq.messenger.q6.question') %></a>
								<div id="messenger-q6" class="collapse"><div class="description"><%- __('site.faq.messenger.q6.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#messenger-q8" aria-expanded="false" aria-controls="messenger-q8"><%- __('site.faq.messenger.q8.question') %></a>
								<div id="messenger-q8" class="collapse"><div class="description"><%- __('site.faq.messenger.q8.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="browser">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.browser.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#browser-q1" aria-expanded="false" aria-controls="browser-q1"><%- __('site.faq.browser.q1.question') %></a>
								<div id="browser-q1" class="collapse"><div class="description"><%- __('site.faq.browser.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#browser-q3" aria-expanded="false" aria-controls="browser-q4"><%- __('site.faq.browser.q3.question') %></a>
								<div id="browser-q3" class="collapse"><div class="description"><%- __('site.faq.browser.q3.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#browser-q2" aria-expanded="false" aria-controls="browser-q2"><%- __('site.faq.browser.q2.question') %></a>
								<div id="browser-q2" class="collapse"><div class="description"><%- __('site.faq.browser.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#browser-q4" aria-expanded="false" aria-controls="browser-q3"><%- __('site.faq.browser.q4.question') %></a>
								<div id="browser-q4" class="collapse"><div class="description"><%- __('site.faq.browser.q4.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="wallet">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.wallet.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q1" aria-expanded="false" aria-controls="wallet-q1"><%- __('site.faq.wallet.q1.question') %></a>
								<div id="wallet-q1" class="collapse"><div class="description"><%- __('site.faq.wallet.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q3" aria-expanded="false" aria-controls="wallet-q4"><%- __('site.faq.wallet.q3.question') %></a>
								<div id="wallet-q3" class="collapse"><div class="description"><%- __('site.faq.wallet.q3.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q5" aria-expanded="false" aria-controls="wallet-q5"><%- __('site.faq.wallet.q5.question') %></a>
								<div id="wallet-q5" class="collapse"><div class="description"><%- __('site.faq.wallet.q5.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q7" aria-expanded="false" aria-controls="wallet-q7"><%- __('site.faq.wallet.q7.question') %></a>
								<div id="wallet-q7" class="collapse"><div class="description"><%- __('site.faq.wallet.q7.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q9" aria-expanded="false" aria-controls="wallet-q9"><%- __('site.faq.wallet.q9.question') %></a>
								<div id="wallet-q9" class="collapse"><div class="description"><%- __('site.faq.wallet.q9.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q2" aria-expanded="false" aria-controls="wallet-q2"><%- __('site.faq.wallet.q2.question') %></a>
								<div id="wallet-q2" class="collapse"><div class="description"><%- __('site.faq.wallet.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q4" aria-expanded="false" aria-controls="wallet-q3"><%- __('site.faq.wallet.q4.question') %></a>
								<div id="wallet-q4" class="collapse"><div class="description"><%- __('site.faq.wallet.q4.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q6" aria-expanded="false" aria-controls="wallet-q6"><%- __('site.faq.wallet.q6.question') %></a>
								<div id="wallet-q6" class="collapse"><div class="description"><%- __('site.faq.wallet.q6.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#wallet-q8" aria-expanded="false" aria-controls="wallet-q8"><%- __('site.faq.wallet.q8.question') %></a>
								<div id="wallet-q8" class="collapse"><div class="description"><%- __('site.faq.wallet.q8.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="keycard">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.keycard-general.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-general-q1" aria-expanded="false" aria-controls="keycard-general-q1"><%- __('site.faq.keycard-general.q1.question') %></a>
								<div id="keycard-general-q1" class="collapse"><div class="description"><%- __('site.faq.keycard-general.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-general-q3" aria-expanded="false" aria-controls="keycard-general-q4"><%- __('site.faq.keycard-general.q3.question') %></a>
								<div id="keycard-general-q3" class="collapse"><div class="description"><%- __('site.faq.keycard-general.q3.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-general-q5" aria-expanded="false" aria-controls="keycard-general-q5"><%- __('site.faq.keycard-general.q5.question') %></a>
								<div id="keycard-general-q5" class="collapse"><div class="description"><%- __('site.faq.keycard-general.q5.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-general-q7" aria-expanded="false" aria-controls="keycard-general-q7"><%- __('site.faq.keycard-general.q7.question') %></a>
								<div id="keycard-general-q7" class="collapse"><div class="description"><%- __('site.faq.keycard-general.q7.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-general-q2" aria-expanded="false" aria-controls="keycard-general-q2"><%- __('site.faq.keycard-general.q2.question') %></a>
								<div id="keycard-general-q2" class="collapse"><div class="description"><%- __('site.faq.keycard-general.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-general-q4" aria-expanded="false" aria-controls="keycard-general-q3"><%- __('site.faq.keycard-general.q4.question') %></a>
								<div id="keycard-general-q4" class="collapse"><div class="description"><%- __('site.faq.keycard-general.q4.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-general-q6" aria-expanded="false" aria-controls="keycard-general-q6"><%- __('site.faq.keycard-general.q6.question') %></a>
								<div id="keycard-general-q6" class="collapse"><div class="description"><%- __('site.faq.keycard-general.q6.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="keycard-security">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.keycard-security.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-security-q1" aria-expanded="false" aria-controls="keycard-security-q1"><%- __('site.faq.keycard-security.q1.question') %></a>
								<div id="keycard-security-q1" class="collapse"><div class="description"><%- __('site.faq.keycard-security.q1.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-security-q2" aria-expanded="false" aria-controls="keycard-security-q2"><%- __('site.faq.keycard-security.q2.question') %></a>
								<div id="keycard-security-q2" class="collapse"><div class="description"><%- __('site.faq.keycard-security.q2.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80" id="keycard-setup">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.keycard-setup.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-setup-q1" aria-expanded="false" aria-controls="keycard-setup-q1"><%- __('site.faq.keycard-setup.q1.question') %></a>
								<div id="keycard-setup-q1" class="collapse"><div class="description"><%- __('site.faq.keycard-setup.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-setup-q3" aria-expanded="false" aria-controls="keycard-setup-q4"><%- __('site.faq.keycard-setup.q3.question') %></a>
								<div id="keycard-setup-q3" class="collapse"><div class="description"><%- __('site.faq.keycard-setup.q3.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-setup-q5" aria-expanded="false" aria-controls="keycard-setup-q5"><%- __('site.faq.keycard-setup.q5.question') %></a>
								<div id="keycard-setup-q5" class="collapse"><div class="description"><%- __('site.faq.keycard-setup.q5.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-setup-q2" aria-expanded="false" aria-controls="keycard-setup-q2"><%- __('site.faq.keycard-setup.q2.question') %></a>
								<div id="keycard-setup-q2" class="collapse"><div class="description"><%- __('site.faq.keycard-setup.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-setup-q4" aria-expanded="false" aria-controls="keycard-setup-q3"><%- __('site.faq.keycard-setup.q4.question') %></a>
								<div id="keycard-setup-q4" class="collapse"><div class="description"><%- __('site.faq.keycard-setup.q4.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-80 m-b-100" id="keycard-other">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center"><%- __('site.faq.keycard-other.title') %></h3>
					<div class="row">
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-other-q1" aria-expanded="false" aria-controls="keycard-other-q1"><%- __('site.faq.keycard-other.q1.question') %></a>
								<div id="keycard-other-q1" class="collapse"><div class="description"><%- __('site.faq.keycard-other.q1.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-other-q3" aria-expanded="false" aria-controls="keycard-other-q4"><%- __('site.faq.keycard-other.q3.question') %></a>
								<div id="keycard-other-q3" class="collapse"><div class="description"><%- __('site.faq.keycard-other.q3.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-other-q5" aria-expanded="false" aria-controls="keycard-other-q5"><%- __('site.faq.keycard-other.q5.question') %></a>
								<div id="keycard-other-q5" class="collapse"><div class="description"><%- __('site.faq.keycard-other.q5.answer') %></div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-other-q2" aria-expanded="false" aria-controls="keycard-other-q2"><%- __('site.faq.keycard-other.q2.question') %></a>
								<div id="keycard-other-q2" class="collapse"><div class="description"><%- __('site.faq.keycard-other.q2.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-other-q4" aria-expanded="false" aria-controls="keycard-other-q3"><%- __('site.faq.keycard-other.q4.question') %></a>
								<div id="keycard-other-q4" class="collapse"><div class="description"><%- __('site.faq.keycard-other.q4.answer') %></div></div>
							</div>
							<div class="accordion">
								<a href="#" class="collapsed" data-toggle="collapse" data-target="#keycard-other-g6" aria-expanded="false" aria-controls="keycard-other-g6"><%- __('site.faq.keycard-other.g6.question') %></a>
								<div id="keycard-other-g6" class="collapse"><div class="description"><%- __('site.faq.keycard-other.g6.answer') %></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>