<!-- The main content area -->
<main id="main" role="main">

    <!-- GET-INVOLVED-OPEN-SOURCE-COMMUNITY -->
    <section class="get-involved-intro p-t-160 p-b-160">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1><%- __('site.get-involved.index.intro.title') %></h1>
                    <p class="teaser-1"><%- __('site.get-involved.index.intro.description') %></p>
                    <div class="open-source-illustration-horz"><%- image_tag("/img/open-source-illustration-horz.svg") %></div>
                </div>
            </div>
        </div>
    </section>
    <!-- END-GET-INVOLVED-OPEN-SOURCE-COMMUNITY -->

    <!-- GET-INVOLVED-BOX-LINKS -->
    <section class="get-involved-box-links">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="box-link">
                        <h3 class="title"><a href="<%- show_lang() %>/docs/"><%- image_tag("/img/get-involved-development.svg") %> <%- __('site.get-involved.index.resources.resource-1.title') %></a></h3>
                        <p><%- __('site.get-involved.index.resources.resource-1.description') %></p>
                        <a href="<%- show_lang() %>/docs/" class="link-arrow link-arrow-white"><%- __('site.link.learn-more') %></a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="box-link">
                        <h3 class="title"><a href="<%- show_lang() %>/get-involved/educators/"><%- image_tag("/img/get-involved-educate.svg") %> <%- __('site.get-involved.index.resources.resource-2.title') %></a></h3>
                        <p><%- __('site.get-involved.index.resources.resource-2.description') %></p>
                        <a href="<%- show_lang() %>/get-involved/educators/" class="link-arrow link-arrow-white"><%- __('site.link.learn-more') %></a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="box-link">
                        <h3 class="title"><a href="<%- show_lang() %>/get-involved/community-groups/"><%- image_tag("/img/get-involved-community-groups.svg") %> <%- __('site.get-involved.index.resources.resource-3.title') %></a></h3>
                        <p><%- __('site.get-involved.index.resources.resource-3.description') %></p>
                        <a href="<%- show_lang() %>/get-involved/community-groups/" class="link-arrow link-arrow-white"><%- __('site.link.learn-more') %></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END-GET-INVOLVED-BOX-LINKS -->

    <!-- WE-ARE-STATUS -->
    <section class="p-t-160 p-b-160">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section class="get-involved-ambassador" id="ambassador">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="inner-img ambassador-1">
                                        <%- image_tag("/img/ambassador-1.png") %>
                                    </div>
                                    <div class="inner-img ambassador-2">
                                        <%- image_tag("/img/ambassador-2.png") %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="inner padding">
                                        <h2><%- __('site.get-involved.index.contributors.subtitle') %></h2>
                                        <p class="teaser-2"><%- __('site.get-involved.index.contributors.description') %></p>
                                        <ul>
                                            <li><a href="https://ambassador.status.im/" target="_blank" class="link-arrow"><%- __('site.get-involved.index.contributors.link-2') %></a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="https://github.com/status-im/ambassador.status.im#status-ambassadors-" target="_blank" class="link-arrow"><%- __('site.get-involved.index.contributors.link-3') %></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- END-WE-ARE-STATUS -->

    <!-- WHAT-YOU-CAN-DO-AS-AN-AMBASSADOR -->
    <section class="get-involved-ambassador-2 rectangle working-groups p-b-160">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="inner padding">
                        <h2><%- __('site.get-involved.index.contributors.subtitle-2') %></h2>
                        <p class="teaser-2"><%- __('site.get-involved.index.contributors.description-1') %></p>
                        <p class="teaser-2"><%- __('site.get-involved.index.contributors.description-2') %></p>
                        <ul>
                            <li><a href="https://boards.status.im/b/fchXE6x3kCqbs7RHL/status-ambassador-tasks" target="_blank" class="link-arrow"><%- __('site.get-involved.index.contributors.link-4') %></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="working-groups ">
                        <%- image_tag("/img/working-groups.jpg") %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END-WHAT-YOU-CAN-DO-AS-AN-AMBASSADOR -->

    <!-- LISTEN-TO-THE-VOICE-OF-TUE-STATUS-COMMUNITY -->
    <section class="get-involved-ambassador-3 p-b-160">
        <div class="container">
            <div class="row">
                <div class="col-md-6 media-image">
                    <div class="inner-img status-media">
                        <%- image_tag("/img/status-media.png") %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inner padding">
                        <h2><%- __('site.get-involved.index.contributors.subtitle-3') %></h2>
                        <p class="teaser-2"><%- __('site.get-involved.index.contributors.description-3') %></p>
                        <ul>
                            <li><a href="https://media.statusnetwork.com/" target="_blank" class="link-arrow"><%- __('site.get-involved.index.contributors.link-5') %></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END-LISTEN-TO-THE-VOICE-OF-TUE-STATUS-COMMUNITY -->

    <!-- STATUS-AMBASSADORS -->
    <section class="about-core-contributors top-contributors p-b-160" id="core-contributors">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="inner title">
                        <h3><%- __('site.get-involved.index.contributors.title') %></h3>
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-left-30">
                    <ul class="contributors row ambassador-list">
                        <% for (let a of site.data.ambassadors) { %>
                        <li class="contributor col-md-1">
                            <a href="#" class="contributor-trigger">
                                <%- image_tag("/img/ambassadors/"+a.image) %>
                            </a>
                            <div class="contributor-info">
                                <%- image_tag("/img/ambassadors/"+a.image) %>
                                <b><%= a.name %></b>
                                <ul>
                                    <% if (a.twitter) { %>
                                        <li>
                                            <a href="https://twitter.com/<%= a.twitter %>" target="_blank">
                                                <%- image_tag("/img/icon-twitter-purple.svg") %>
                                            </a>
                                        </li>
                                    <% } %>

                                    <% if (a.status) { %>
                                    <li>
                                        <a href="https://join.status.im/user/<%= a.status %>" target="_blank">
                                            <%- image_tag("/img/icon-status-purple.svg") %>
                                        </a>
                                    </li>
                                    <% } %>
                                </ul>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </section>
   <!-- STATUS-AMBASSADORS -->
</main>
