<!-- The main content area -->
<main id="main" role="main" class="overflow-hidden">

	<section class="pt-16 lg:pt-0">
		<div class="max-w-screen-2xl mx-auto lg:px-12">
      <div class="grid lg:grid-cols-2">
        <div class="relative p-24 pb-0 self-center text-center">
          <span class="bg-white w-screen absolute -z-1 right-0 h-full"></span>
          <div class="">
            <p>Download Status for</p>
            <h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl">Mobile</h1>
          </div>
          <p class="text-2xl text-center mt-2 lg:px-20">Private messaging, secure crypto transactions, Web3 DApp browsing in your pocket.</p>
          <div class="flex items-center justify-center -ml-12 mt-12 mb-12">
            <a href="<%- get_build_url('official', 'APPSTORE') %>" id="official:ios" class="ml-12 app-download"><%- image_tag("/img/app-store.svg") %></a>
    				<a href="<%- get_build_url('official', 'PLAYSTORE') %>" id="official:apk" class="ml-12 app-download"><%- image_tag("/img/google-play.svg") %></a>
    				<a href="<%- get_build_url('official', 'DIRECT_APK') %>" id="official:apk" class="ml-12 app-download"><%- image_tag("/img/apk.svg") %></a>
    			</div>
          <div class="mt-24 -mb-64">
            <div class="w-2/3 mx-auto">
              <%- image_tag("/img/teaser-image-installpage.png") %>
            </div>
          </div>
        </div>
      	<div class="bg-primary-base relative md:mt-0 p-24 pb-0 text-white">
          <span class="bg-primary-base w-screen absolute -z-1 left-0 h-full top-0"></span>
          <div class="md:mt-0 mx-auto flex flex-col justify-start items-center text-center">
        	  <div class="">
        	    <p>Download Status for</p>
        	    <h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl">Desktop</h1>
            </div>
            <p class="text-2xl text-center mt-2 lg:px-20">
              Test out Desktop Beta for private, secure communication where you work.
            </p>
            <div class="flex items-center justify-center -ml-12 mt-12 mb-12">
              <a href="" id="official:mac" target="_blank" class="ml-12 text-lg 2xl:text-xl flex md:inline-flex font-special transition-all duration-200 linear font-bold py-3 px-6 font-bold text-center border border-black bg-black rounded text-white hover:opacity-75">
                <%- image_tag("/img/apple-white-logo.svg") %>
                <span class="ml-4">Mac</span>
              </a>
              <a href="" id="official:windows" target="_blank" class="ml-12 text-lg 2xl:text-xl flex md:inline-flex font-special transition-all duration-200 linear font-bold py-3 px-6 font-bold text-center border border-black bg-black rounded text-white hover:opacity-75">
                <%- image_tag("/img/windows-white-logo.svg") %>
                <span class="ml-4">Windows</span>
              </a>
              <a href="" id="official:linux" target="_blank" class="ml-12 text-lg 2xl:text-xl flex md:inline-flex font-special transition-all duration-200 linear font-bold py-3 px-6 font-bold text-center border border-black bg-black rounded text-white hover:opacity-75">
                <%- image_tag("/img/linux-white-logo.svg") %>
                <span class="ml-4">Linux</span>
              </a>
            </div>
            <div class="mt-16 mx-auto text-center -mb-16 lg:-mb-64">
              <%- image_tag("/img/desktop-app-laptop.png") %>
            </div>
          </div>
        </div>
      </div>  
    </div>
	</section>

</main> 
