<!-- The main content area -->
<main id="main" role="main">

	<section class="keycard-intro p-t-100 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto">
					<h1 class="text-center"><%- __('site.keycard.intro.title') %></h1>
					<div class="keycard-animate-1 h-auto">
						<%- image_tag("/img/keycard-intro-phone.png", { srcset: '/img/keycard-intro-phone-2x.png 2x', class: 'phone'}) %>
						<%- image_tag("/img/keycard-intro-card.png", { srcset: '/img/keycard-intro-card-2x.png 2x', class: 'card'}) %>
						<div class="circles"></div>
					</div>
					<div class="row">
						<div class="col-lg-8 text-center ml-auto mr-auto">
							<p class="teaser-1 m-t-60"><%- __('site.keycard.intro.description') %></p>
							<a href="<%- show_lang() %>/faq/#keycard" class="btn btn-purple-fill btn-arrow btn-arrow-white"><%- __('site.keycard.intro.button') %></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="col-grey p-t-50 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 ml-auto mr-auto">
					<h2 class="text-center m-b-80"><%- __('site.keycard.security.title') %></h2>
					<div class="keycard-animate-3 m-t-50" data-step="1">
						<%- image_tag("/img/keycard-phone.png", { srcset: '/img/keycard-phone-2x.png 2x', class: 'phone'}) %>
						<%- image_tag("/img/keycard-chat-1.png", { srcset: '/img/keycard-chat-1-2x.png 2x', class: 'chat-1'}) %>
						<%- image_tag("/img/keycard-front-4.png", { srcset: '/img/keycard-front-4-2x.png 2x', class: 'front-4'}) %>
						<div class="morph">
							<div class="step-1 step">
								<b>Send transaction</b>
								<div class="transation-details">
									<div class="amount"><span>0.0</span></div>
									<div class="type"><%- image_tag("/img/dai.svg") %> DAI</div>
								</div>
							</div>
							<div class="step-2 step">
								<div class="circles-parent"><div class="circles"></div></div>										
								<%- image_tag("/img/keycard-phone-icon.svg", { class: 'phone-icon' }) %>
								<%- image_tag("/img/keycard-card-icon.svg", { class: 'card-icon' }) %>
							</div>
							<div class="step-3 step">
								<%- image_tag("/img/keycard-checked.svg", { class: 'checked' }) %> <b><%- __('site.keycard.security.confirmed') %></b>
							</div>
						</div>
					</div>
					<p class="teaser-1 p-t-50 text-center mb-0"><%- __('site.keycard.security.description') %></p>
				</div>
			</div>
		</div>
	</section>

	<section class="p-t-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 ml-auto mr-auto">
					<h2 class="text-center m-b-80"><%- __('site.keycard.account.title') %></h2>
					<div class="keycard-animate-4" data-step="1">
						<%- image_tag("/img/keycard-phone.png", { srcset: '/img/keycard-phone-2x.png 2x', class: 'phone'}) %>
						<%- image_tag("/img/keycard-home-1.png", { srcset: '/img/keycard-home-1-2x.png 2x', class: 'home-1'}) %>
						<%- image_tag("/img/keycard-lock-1.png", { srcset: '/img/keycard-lock-1-2x.png 2x', class: 'lock-1'}) %>
						<%- image_tag("/img/keycard-front-4.png", { srcset: '/img/keycard-front-4-2x.png 2x', class: 'front-4'}) %>
						<ul class="dots">
							<% for(var i = 0; i <= 5; i++) { %>
						        <li class="dot dot-<%= i %>"></li>
						    <% } %>
						</ul>
						<ul class="numbers">
							<% for(var i = 0; i <= 9; i++) { %>
						        <li class="nr nr-<%= i %>">
					                <%= i %>
						        </li>
						    <% } %>
						</ul>
						<div class="morph-parent">
							<div class="morph">
								<div class="step-2 step">
									<div class="circles-parent"><div class="circles"></div></div>										
									<%- image_tag("/img/keycard-phone-icon.svg", { class: 'phone-icon' }) %>
									<%- image_tag("/img/keycard-card-icon.svg", { class: 'card-icon' }) %>
								</div>
								<div class="step-3 step">
									<%- image_tag("/img/keycard-checked.svg", { class: 'checked' }) %> <b><%- __('site.keycard.account.confirmed') %></b>
								</div>
							</div>
						</div>
					</div>
					<p class="teaser-1 p-t-50 mb-0 text-center"><%- __('site.keycard.account.description') %></p>
				</div>
			</div>
		</div>
	</section>

    <section class="keycard-faq m-t-50 p-t-80 p-b-80 col-grey">
    	<div class="container">
	    	<div class="row">
	    		<div class="col-md-12 text-center">
	    			<h3 class="m-b-20"><%- __('site.keycard.faq.title') %></h3>
	    			<a href="<%- show_lang() %>/faq/#keycard" class="btn btn-arrow m-r-20"><%- __('site.keycard.faq.button') %></a>
	    		</div>
	    	</div>
    	</div>
    </section>

</main>
