<!-- The main content area -->
<main id="main" role="main" class="template-keycard">

	<section class="pt-16 xl:pt-64 keycard-intro">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<div class="grid grid-cols-12 gap-12">
				<div class="col-span-12 lg:col-span-7">
					<h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl"><%- __('site.keycard-integration.intro.title') %></h1>
					<p class="text-gray-600 mt-12 text-xl xl:text-4xl font-display font-normal leading-normal"><%- __('site.keycard-integration.intro.description') %></p>
          <a href="https://get.keycard.tech/" target="_blank" class="flex md:inline-flex items-center font-special font-bold py-4 px-6 font-bold border bg-primary-base text-white border-primary-base rounded hover:bg-primary-900 hover:text-white mt-16">
            <%- __('site.keycard-integration.intro.button') %>
            <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right.svg') %></span>
          </a>
				</div>
				<div class="col-span-12 lg:col-span-5">
					<div class="keycard-animate-1">
						<%- image_tag("/img/keycard-intro-phone.png", { srcset: '/img/keycard-intro-phone-2x.png 2x', class: 'phone'}) %>
						<%- image_tag("/img/keycard-intro-card.png", { srcset: '/img/keycard-intro-card-2x.png 2x', class: 'card'}) %>
						<div class="circles"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="keycard-about bg-blue-gray-light py-40 mt-20 lg:mt-64">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<div class="grid grid-cols-7">
				<div class="text-right col-span-7 lg:col-span-4">
					<div class="keycard-animate-2 md:flex items-center hidden">
						<%- image_tag("/img/keycard-front-1.png", { srcset: '/img/keycard-front-1-2x.png 2x', class: 'front-1'}) %>
						<%- image_tag("/img/keycard-front-2.png", { srcset: '/img/keycard-front-2-2x.png 2x', class: 'front-2'}) %>
						<%- image_tag("/img/keycard-front-3.png", { srcset: '/img/keycard-front-3-2x.png 2x', class: 'front-3'}) %>
					</div>
				</div>
				<div class="col-span-7 lg:col-span-3">
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.keycard-integration.about.title') %></h3>
					<p class="text-xl md:text-2xl mt-12 text-gray-700"><%- __('site.keycard-integration.about.description') %></p>
					<div class="flex flex-col md:flex-row items-center flex-wrap mt-12">
            <a href="https://keycard.tech/" target="_blank" class="flex w-full md:w-auto py-4 px-6 md:inline-flex items-center group border font-special transition-all duration-200 linear font-semibold hover:bg-black hover:text-white rounded border-black text-lg">
              <%- __('site.keycard-integration.about.button-1') %>
              <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right.svg') %></span>
            </a>
            <a href="https://get.keycard.tech/" target="_blank" class="mt-8 w-full md:w-auto md:mt-0 text-lg flex md:inline-flex items-center group font-special transition-all duration-200 linear py-4 px-6 font-bold border bg-primary-base text-white border-primary-base rounded hover:bg-primary-900 hover:text-white md:ml-8">
              <%- __('site.keycard-integration.intro.button') %>
              <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right.svg') %></span>
            </a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="keycard-secure mt-20 lg:mt-64">
		<div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
			<h2 class="font-display text-4xl xl:text-7xl text-center"><%- __('site.keycard-integration.secure.title') %></h2>
			<div class="grid md:grid-cols-2 gap-32 mt-40">
				<div class="md:pl-32">
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.keycard-integration.secure.security.title') %></h3>
					<p class="text-xl md:text-2xl mt-12"><%- __('site.keycard-integration.secure.security.description') %></p>
				</div>
				<div>
					<div class="keycard-animate-3" data-step="1">
						<%- image_tag("/img/keycard-phone.png", { srcset: '/img/keycard-phone-2x.png 2x', class: 'phone'}) %>
						<%- image_tag("/img/keycard-chat-1.png", { srcset: '/img/keycard-chat-1-2x.png 2x', class: 'chat-1'}) %>
						<%- image_tag("/img/keycard-front-4.png", { srcset: '/img/keycard-front-4-2x.png 2x', class: 'front-4'}) %>
						<div class="circles"></div>
						<div class="morph">
							<div class="step-1 step">
								<b><%- __('site.keycard-integration.secure.security.send') %></b>
								<div class="transation-details">
									<div class="amount"><span>0.0</span></div>
									<div class="type"><%- image_tag("/img/dai.svg") %> DAI</div>
								</div>
							</div>
							<div class="step-2 step">
								<div class="circles-parent"><div class="circles"></div></div>										
								<%- image_tag("/img/keycard-phone-icon.svg", { class: 'phone-icon' }) %>
								<%- image_tag("/img/keycard-card-icon.svg", { class: 'card-icon' }) %>
							</div>
							<div class="step-3 step">
								<%- image_tag("/img/keycard-checked.svg", { class: 'checked' }) %> <b><%- __('site.keycard-integration.secure.security.confirmed') %></b>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid md:grid-cols-2 mt-64">
				<div class="order-2 md:order-none">
					<div class="keycard-animate-4" data-step="1">
						<%- image_tag("/img/keycard-phone.png", { srcset: '/img/keycard-phone-2x.png 2x', class: 'phone'}) %>
						<%- image_tag("/img/keycard-home-1.png", { srcset: '/img/keycard-home-1-2x.png 2x', class: 'home-1'}) %>
						<%- image_tag("/img/keycard-lock-1.png", { srcset: '/img/keycard-lock-1-2x.png 2x', class: 'lock-1'}) %>
						<%- image_tag("/img/keycard-front-4.png", { srcset: '/img/keycard-front-4-2x.png 2x', class: 'front-4'}) %>
						<div class="circles"></div>
						<ul class="dots">
							<% for(var i = 0; i <= 5; i++) { %>
						        <li class="dot dot-<%= i %>"></li>
						    <% } %>
						</ul>
						<ul class="numbers">
							<% for(var i = 0; i <= 9; i++) { %>
						        <li class="nr nr-<%= i %>">
					                <%= i %>
						        </li>
						    <% } %>
						</ul>
						<div class="morph-parent">
							<div class="morph">
								<div class="step-2 step">
									<div class="circles-parent"><div class="circles"></div></div>										
									<%- image_tag("/img/keycard-phone-icon.svg", { class: 'phone-icon' }) %>
									<%- image_tag("/img/keycard-card-icon.svg", { class: 'card-icon' }) %>
								</div>
								<div class="step-3 step">
									<%- image_tag("/img/keycard-checked.svg", { class: 'checked' }) %> <b><%- __('site.keycard-integration.secure.account.confirmed') %></b>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="md:pr-32 order-1 lg:order-none">
					<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.keycard-integration.secure.account.title') %></h3>
					<p class="text-xl md:text-2xl mt-12"><%- __('site.keycard-integration.secure.account.description') %></p>
				</div>
			</div>
		</div>
	</section>

	<section class="mt-20 lg:mt-64">
        <div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
            <div class="grid lg:grid-cols-3 gap-12">
                <div class="bg-black p-8 lg:p-16 text-white">
                    <h3 class="text-2xl flex items-center">
                      <img src="/img/autonomy-and-confidence.svg" class="mr-12"> 
                      <%- __('site.keycard-integration.boxes.box-1.title') %>
                    </h3>
                    <p class="mt-12 text-gray-200"><%- __('site.keycard-integration.boxes.box-1.description') %></p>
                </div>
                <div class="bg-black p-8 lg:p-16 text-white">
                    <h3 class="text-2xl flex items-center">
                      <img src="/img/mobile-first.svg" class="mr-12"> 
                      <%- __('site.keycard-integration.boxes.box-2.title') %>
                    </h3>
                    <p class="mt-12 text-gray-200"><%- __('site.keycard-integration.boxes.box-2.description') %></p>
                </div>
                <a href="https://get.keycard.tech/" target="_blank" class="group bg-black p-8 lg:p-16 text-white hover:bg-primary-base transition-bg duration-200 linear">
                  <h3 class="text-2xl flex items-center">
                    <img src="/img/affordable-security.svg" class="mr-12"> 
                    <%- __('site.keycard-integration.boxes.box-3.title') %>
                  </h3>
                  <p class="mt-12 text-gray-200"><%- __('site.keycard-integration.boxes.box-3.description') %></p>
                  <div class="inline-flex items-center mt-12 font-special">
                    <%- __('site.keycard-integration.boxes.box-3.link') %>
                    <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right.svg') %></span>
                  </div>
                </a>
            </div>
        </div>
    </section>

    <section class="keycard-faq bg-blue-gray-light py-40 mt-20 lg:mt-40">
    	<div class="max-w-screen-2xl mx-auto px-8 lg:px-12 text-center">
  			<h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl"><%- __('site.keycard-integration.faq.title') %></h3>
  			<a href="<%- show_lang() %>/faq/#keycard" class="py-4 px-6 inline-flex items-center group transition-all duration-200 linear border font-special font-semibold hover:bg-black hover:text-white rounded border-black text-lg mt-8">
          <%- __('site.keycard-integration.faq.button') %>
          <span class="ml-4 group-hover:translate-x-1 transform transition-all duration-200 linear"><%- image_tag('/img/icon-arrow-right.svg') %></span>
        </a>
    	</div>
    </section>

</main>
