<!-- The main content area -->
<main id="main" role="main">

  <section class="bg-black text-white px-8 lg:px-20 py-8 flex items-center justify-between">
	  <p class="text-gray-200">Status Docs</p>
	  <form id="search-form" class="flex items-center relative">
      <span class="text-gray-500 mr-6">
        <%- image_tag('/img/search.svg') %>
      </span>
	    <input type="text" name="userSearch" id="search-input" placeholder="Search documentation..." class="bg-transparent placeholder-gray-400 text-lg">
	    <div id="search-results" class="absolute top-0 bg-white px-4 mt-12 shadow-lg rounded z-10"></div>
	  </form>
	</section>

  <section class="single-docs-content mt-24">
    <div class="px-8 lg:px-20 mx-auto">
      <div class="grid gap-12 grid-cols-12">
        <div class="col-span-12 lg:col-span-3 xl:col-span-2">
          <%- include('partial/sidebar') %>
        </div>
        <div class="col-span-12 lg:col-span-9 xl:col-span-10">
          <div class="custom-article">
            <div class="docs-lp-wrapper">
              <%- page_anchor(page.content) %>
            </div>
          </div>
          
          <div class="docs-footer text-gray-500 py-40">
            Last update: <%- page.updated.format(config.date_format) %>
            <%- page_nav() %>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
