<!-- The main content area -->
<main id="main" role="main">

	<!--HOME-INTRO-->
	<section class="pt-16 xl:pt-0">
	  <div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
	    <div class="grid md:grid-cols-2">
	      <div class="relative px-8 md:pr-32">
	        <span class="bg-white w-screen absolute -z-1 right-0 h-full"></span>
	        <h1 class="leading-tight font-display text-6xl font-medium xl:text-7xl 2xl:text-8xl mt-32">
	          <%- __('site.home.intro.title') %></h1>
	        <div class="flex items-center -ml-12 mt-12">
	          <a href="<%- get_build_url('official', 'APPSTORE') %>" id="official:ios"
	            class="ml-12 app-download"><%- image_tag("/img/app-store.svg") %></a>
	          <a href="<%- get_build_url('official', 'PLAYSTORE') %>" id="official:apk"
	            class="ml-12 app-download"><%- image_tag("/img/google-play.svg") %></a>
	          <a href="<%- get_build_url('official', 'DIRECT_APK') %>" id="official:apk"
	            class="ml-12 app-download"><%- image_tag("/img/apk.svg") %></a>
	        </div>
	        <ul class="mt-40 mb-40 ">
	          <li class="flex items-start">
	            <div class="mt-2">
	              <%- image_tag("/img/icon-private-messaging.svg") %>
	            </div>
	            <div class="ml-12">
	              <h4 class="mb-8 text-2xl xl:text-3xl font-medium font-display text-gray-900">
	                <%- __('site.landing-page-v1.intro.private-messaging.title') %></h4>
	              <p class="text-gray-600"><%- __('site.landing-page-v1.intro.private-messaging.description') %></p>
	            </div>
	          </li>
	          <li class="flex mt-20 items-start">
	            <div class="mt-2">
	              <%- image_tag("/img/icon-secure-wallet.svg") %>
	            </div>
	            <div class="ml-12">
	              <h4 class="mb-8 text-2xl xl:text-3xl font-medium font-display text-gray-900">
	                <%- __('site.landing-page-v1.intro.secure-wallet.title') %></h4>
	              <p class="text-gray-600"><%- __('site.landing-page-v1.intro.secure-wallet.description') %></p>
	            </div>
	          </li>
	          <li class="flex mt-20 items-start">
	            <div class="mt-2">
	              <%- image_tag("/img/icon-web3-browser.svg") %>
	            </div>
	            <div class="ml-12">
	              <h4 class="mb-8 text-2xl xl:text-3xl font-medium font-display text-gray-900">
	                <%- __('site.landing-page-v1.intro.web3-browser.title') %></h4>
	              <p class="text-gray-600"><%- __('site.landing-page-v1.intro.web3-browser.description') %></p>
	            </div>
	          </li>
	        </ul>
	      </div>
	      <div class="bg-black relative mt-32 md:mt-0">
	        <span class="bg-black w-screen absolute -z-1 left-0 h-full"></span>
	        <div class="md:-ml-32 -mt-32 md:mt-0 mx-auto flex justify-center md:block md:pt-20">
	          <%- image_tag("/img/teaser-image.png", { srcset: '/img/teaser-image-2x.png 2x'}) %>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
	<!--END-HOME-INTRO-->

	<div class="my-20 lg:my-64">
	  <div class="max-w-screen-xl mx-auto px-8 lg:px-12">
	    <h3 class="font-display text-4xl xl:text-5xl 2xl:text-6xl text-center custom-article">
				<% for (var channel in site.data.channels) { 
					if(channel == page.lang) { %>
						<%- __('site.landing-page-v1.invite.title', site.data.channels[channel]['name'], site.data.channels[channel]['name']) %>
					<% } %>
				<% } %>
			</h3>
      <ul class="flex flex-col md:flex-row md:items-center mt-24 -ml-24">
  			<li class="text-xl text-primary-base ml-24 flex items-center mt-8">
          <span class="w-8 h-8 text-primary-base block mr-8">
            <%- partial('partial/icons/status-logo') %>
          </span>
          <%- __('site.landing-page-v1.invite.prize.option-1') %>
        </li>
  			<li class="text-xl text-primary-base ml-24 flex items-center mt-8">
          <span class="w-8 h-8 text-primary-base block mr-8">
            <%- partial('partial/icons/status-logo') %>
          </span>
          <%- __('site.landing-page-v1.invite.prize.option-2') %>
        </li>
  			<li class="text-xl text-primary-base ml-24 flex items-center mt-8">
          <span class="w-8 h-8 text-primary-base block mr-8">
            <%- partial('partial/icons/status-logo') %>
          </span>
          <%- __('site.landing-page-v1.invite.prize.option-3') %>
        </li>
  			<li class="text-xl text-primary-base ml-24 flex items-center mt-8">
          <span class="w-8 h-8 text-primary-base block mr-8">
            <%- partial('partial/icons/status-logo') %>
          </span>
          <%- __('site.landing-page-v1.invite.prize.option-4') %>
        </li>
  		</ul>
		</div>
	</div>

</main>
